.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin: 0 auto;
  height: 500px;
  background: #c2c2c2;
  display: flex;
  flex-direction: row;

}

.left {
  background: lawngreen;
  width: 300px;
  border: 1px solid;
  height: 100%;
}

.right {
  height: 100%;
  border: 1px solid;
  color: blueviolet;
  
  margin: 0 auto;
  flex: 1;
}

.draggable {
  cursor: grab;
  background: yellow;
}
